html {
    font-family: poppins;
}


body {
    background-color: rgb(253, 255, 196);
    background-image: url(../images/campo-de-ervas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20% top;
    padding-top: 130px;
}

.cabecalho {
    background-color: rgb(88, 255, 97);
    padding: 10px 5px;
    position: fixed;
    width: 100%;
    top: 0;
}

.cabecalho .logo  {
    display: inline;
    color: var(--text-color);
    text-align: center;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    --padding-padrao: 15px;

    display: inline-block;
    padding: var(--padding-padrao);
}

li::marker {
    color: var(--marker-cor);
}

main {
    background-color: white;
    max-width: 900px;
    min-width: 295px;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 90px;
}

main p {
    font-size: 16px;
    text-align: justify;
}

main .info {
    font-size: 18px;
}

img {
    width: 100%;
}

.info li {
    padding: 5px; 
    margin: 10px;
}

p {
    padding: var(--padding-padrao);
}

a {
    text-decoration: var(--text-decoration-none);
    color: var(--text-color);
}

h3 {
    color: rgb(21, 137, 0);
    padding: 15px;
}

h2 {
    color: black;
}

h1::after {
    content: url(../images/icone-natureza-pequena.png);
}

footer {
    text-align: center;
    color: rgb(101, 101, 101);
    padding: 5px;
}






@media (max-width: 576px) {
    .cabecalho {
        text-align: center;
        position: relative;
    }

    body {

        padding-top: 0;
    }

    .cabecalho nav {
        float: none;
    }

    .cabecalho nav li {
        display: block;
    }

}